@import "../Vars.scss";

.button {
  cursor: pointer;
  width: vw(169, 1920);
  height: vw(58, 1920);
  border: 1px solid $green;
  border-radius: 5px;
  text-align: center;
  font-family: $poppins-font;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: vw(16, 1920);
  background: transparent;
  color: $green;
  transition: all 0.8s ease;
  &.active,
  &:hover {
    background: $gradiant;
    color: $white;
  }
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

@media (max-width: 700px) {
  .button {
    width: vw(209, 1920);
    height: vw(98, 1920);
    font-size: vw(20, 1920);
  }
}

@media (max-width: 450px) {
  .button {
    width: vw(259, 1920);
    height: vw(138, 1920);
    font-size: vw(35, 1920);
  }
}
