@import "../Vars.scss";

.container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  input {
    width: 100%;
    height: vw(50, 1920);
    background: transparent;
    border: 1px solid $pink;
    font-size: vw(14, 1920);
    float: left;
    color: $pink;
    padding: vw(21, 1920) vw(15, 1920);
    padding-right: vw(45, 1920);
    border-radius: 4px;
    &::placeholder {
      font-size: vw(14, 1920);
      font-family: $poppins-font;
      color: $placeholder;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  .icon {
    position: absolute;
    right: 0;
    margin-right: vw(10, 1920);
    margin-top: vw(13, 1920);
    z-index: 1;
    color: $pink;
    transition: all 0.55s ease;
    svg {
      font-size: vw(22, 1920);
    }
  }
}

@media (max-width: 1000px) {
  .container .icon {
    margin-top: vw(6, 1920);
  }
}

@media (max-width: 740px) {
  header {
    flex-direction: column;
    .logo {
      margin-bottom: vw(30, 1920);
    }
    .nav {
      margin-bottom: vw(40, 1920);
    }
  }
  .container .icon {
    margin-top: vw(2, 1920);
  }
}
