@import "../Vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  max-width: 1920px;
  margin: 0 auto;
}

.home {
  max-width: 1920px;
  margin: 0 auto;
}

.content_home {
  margin: 0 vw(286, 1920);
}

.title_home {
  width: 100%;
  @include flex($justify: center, $align: center);
  h1 {
    text-align: center;
    font-family: $montserrat-font;
    font-weight: 400;
    font-size: vw(43, 1920);
    strong {
      font-weight: 600;
    }
  }
}
.sectionImage {
  width: 100%;
  height: vw(765, 1920);
  background: url("../../images/fondo.png");
  background-size: cover;
  .center {
    @include flex($direction: column, $justify: center, $align: center);
    margin: 0 vw(286, 1920);
    margin-bottom: vw(60, 1920);
    img {
      width: vw(480, 1920);
      margin-bottom: vw(50, 1920);
    }
    .titles {
      font-family: $poppins-font;
      margin-bottom: vw(30, 1920);
      h1 {
        margin-bottom: 0;
      }
    }
    .buttons {
      .button {
        margin: 0 vw(14, 1920);
      }
    }
  }
  .columns {
    margin: 0 vw(286, 1920);
    @include flex($justify: center, $align: center);
    .content {
      width: 50%;
      .info {
        &.right {
          padding-right: vw(100, 1920);
        }
        &.left {
          padding-left: vw(150, 1920);
        }
        h1 {
          font-family: $montserrat-font;
          font-weight: 400;
          font-size: vw(38, 1920);
          width: vw(350, 1920);
        }
        p {
          margin-top: vw(41, 1920);
          font-family: $montserrat-font;
          font-weight: 400;
          font-size: vw(14, 1920);
        }
        .button {
          margin-top: vw(100, 1920);
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.content_cards {
  @include flex($direction: column, $justify: center, $align: center);
  margin-bottom: vw(150, 1920);
  h1 {
    text-align: center;
    font-family: $montserrat-font;
    font-weight: 600;
    font-size: vw(43, 1920);
    margin-bottom: vw(100, 1920);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(2, 50%);
  }
}

@media (max-width: 700px) {
  .sectionImage {
    margin-top: vw(50, 1920);
    height: vw(1065, 1920);
    .center .titles {
      font-size: vw(25, 1920);
    }
    .columns {
      flex-direction: column;
      .content {
        .info {
          text-align: center;
          h1 {
            width: 100%;
          }
          p {
            font-size: vw(15, 1290);
          }
          &.right {
            padding-right: 0;
          }
          &.left {
            padding-left: 0;
          }
        }
        img {
          margin-top: vw(80, 1920);
          width: 100%;
          max-height: vw(400, 1920);
        }
      }
    }
  }
  .title_home {
    margin-top: vw(200, 1920);
  }
}

@media (max-width: 400px) {
  .sectionImage {
    .columns {
      .content {
        .info {
          h1 {
            font-size: vw(60, 1920);
          }
          p {
            font-size: vw(35, 1920);
          }
        }
      }
    }
  }
}
